$normalColor: #333;
$sideBarbg: #324157;
$sideHover: #48576a;
$shadow: #eee;
$blue: #409EFF;
$grey: #999;
$borderColor: #eee;
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  color:$normalColor;
  position: relative;
}
.header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height:66px;
  font-size: 14px;
  line-height: 66px;
  background-color:#324157;
  box-shadow:2px 0 3px rgba(0,0,0,.5);
  z-index:1000;
  padding:0 32px 0 40px;
  overflow:hidden;

}
.header .logo{
  float: left;
  cursor:pointer;
  font-size: 22px;
}
.logo_suffix{
  color:#fff;
}
.user-header{
  text-align: right;
  font-size:12px;
  cursor:pointer;
}
.user-header img{
  border-radius:50%;
  vertical-align:middle;
}
.userInfo {
float:right!important;

}
.username {
color: #fff;
cursor:pointer;
}
.setting-div{
  height:30px;
  line-height:30px;
  clear:both;
}
.setting-div span{
  display:block;
  float:left;
  font-size:12px;
}
.setting-icon{
  padding-top:3px;
  padding-right:3px;
}
.content{
  background: none repeat scroll 0 0 #f0f3f4;
  position: absolute;
  left: 200px;
  right: 0;
  top: 66px;
  bottom:0;
  width: auto;
  padding:25px 40px 25px 40px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.sidebar{
  display: block;
  position: absolute;
  width: 200px;
  left: 0;
  top: 66px;
  bottom:0;
  background-color: $sideBarbg;
  .el-menu {
    background-color: $sideBarbg;
    border-right: none;
  }

}
.bread {
  margin-bottom: 20px;
  font-size: 24px!important;
  color: #333;
}
.loginPage {
  height: 100%;
  text-align: center;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.loginContent {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.loginHeader {
  color: #333;
  font-size: 30px;
  margin-bottom: 40px;
  letter-spacing: 3px;
  font-weight: bold;
}
.loginFooter {
  color: #6c757d;
  margin-top: 30px;
}
.el-button {
  width: 100%;
}
.content-body {
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px $borderColor;
  .el-form-item {
    width: 48%;
    .el-form-item__content {
      width: 60%;
      .el-input,
      .el-select,
      .el-cascader {
        width: 100%;
      }
    }
  }
  .btn_group {
    width: 60%;
    margin: 0 20%;
    margin-top: 20px;
  }
}
.b_flex {
  .b_space_normal {
    padding: 10px 0
  }
}
.el-table {
  th {
    background-color: #eef1f6!important;
    border-bottom: solid 1px #dfe6ec!important;
    color: #333;
  }
  border: solid 1px #dfe6ec;
}
.b_pagination {
  margin: 20px 0;
  .el-pagination {
    float: right;
  }
}
.fixWid {
  width: 120px;
}
.box-card {
  position: fixed;
  top: 86px;
  right: 20px;
  z-index: 999;
  .el-card__body {
    padding: 10px
  }
}
.data-table {
  font-size: 12px;
  color: $grey;
  .text-item {
    display: flex;
    border-bottom: solid 1px $borderColor;
    &:last-child {
      border-bottom: none;
    }
    .item-des {
      width: 60px;
      padding: 6px;
      border-right: solid 1px $borderColor;
    }
    .item-val {
      flex: 1;
      padding: 6px;
    }
  }
}
